[Desktop Entry]
Encoding=UTF-8
Name=Flock
Comment=Web Browser
Exec=/usr/bin/flock-browser
Icon=flock.png
Terminal=false
Type=Application
Categories=Application;Network;
