[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=HP Device Manager
GenericName=HP Device Manager
Comment=View device status, ink levels and perform maintenance.
Exec=/usr/bin/hp-toolbox
Icon=/usr/share/hplip/data/images/HPmenu.png
Terminal=false
Categories=Application;Utility;
X-KDE-StartupNotify=false
StartupNotify=false
